* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navber ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.navber {
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
   
}
.navber li a{
    color: aquamarine;
}

.navber ul a {
    text-decoration: none;
    color: rgb(137, 135, 161);
}

.mix {
    color: rgb(37, 36, 50);
    font-size: 1rem;
    font-weight: 700;
}

.market {
    color:black;
}

.banner {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.always {
    color: rgb(233, 90, 8);

    font-size: 4rem;
    font-weight: 700;
}

.always-cng {
    color: rgb(0, 0, 0);
}

.banner-description {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    font-size: 1.4rem;

}

.plants {
    text-align: center;
}

.section-plants {
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 100px;
}

.card-title {
    font-weight: 700;
    font-size: 3rem;
    color: rgb(233, 90, 8);
  margin-bottom: 30px;
}

.card-descripton {
   color: rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
    margin-top: 20px;
}

.Plants {
    color: rgb(0, 0, 0);
}

.plants-child {
    margin-bottom: 100px;
    text-align: center;
}

.right-plants img {
    max-width: 100%;
}

.card-items {
    text-align: center;
}

.card-items img {
    width: 100%;
}

.cards-title {
    color: rgb(17, 17, 17);
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cards-price {
    color: rgb(17, 17, 17);
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    padding: 12px 0;
    background-color: #f25c05;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.flower-section {
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 180px;
    position: relative;
}
.trusted{
    width: 286px;
height: 286px;
position: absolute;
margin-left: 250px;
margin-top: -150px;
}

.right-flower ul,
.right-flower ol {
    padding-left: 40px;
    margin: 0;
   
}
.right-flower{
margin-left: 40px;
}

.flower-container {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.left-flower {
    width: 70%;
}

.left-flower img {
    width: 100%;
}

.flowers-title {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 4.2rem;
}

.flowers-description {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 1.26rem;
    line-height: 27px;
}

.join-container {
    background-image: url(../assets/news-letter-bg.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;

}

.join {
    text-align: center;
    margin-top: 40px;
    padding-top: 140px;
}

.fieldset {
    width: 644px;
    height: 51px;
    background-color: white;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
}

.btn-2 {
    width: 190px;
    height: 51px;
    background-color: rgb(233, 90, 8);
    color: white;
    border: none;
    padding: 18px 40px 18px 40px;
}

.middle {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.join h1 {
    color: white;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.footer-menu li {
    list-style: none;
}

.footer-menu li a {
    text-decoration: none;
    color: rgb(107, 114, 128);
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 30px;
}

.footer-p {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    font-size: 1.4rem;
}
.social-site img {
  width: 30px;
  height: 30px;
  margin-right: 30px;
}
.latest{
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}

.latest{
    padding: 20px;
}
.latest-title{
    margin-top: 60px;
    margin-bottom: 70px;
}
.latest-pic-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: stretch;
  color: white;
 
}
.latest-pic-container button {
    border: none;
    background: none;
    width: 209px;
height: 25px;
font-weight: 400;
font-size: 20px;

}
.latest-pic-container button a{
    color: azure;
   margin-top: 5px;
}
.left-images {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text-overlay{
 text-align: center;
 justify-content: center;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img-1 {
  background-image: url(../assets/deal-bloom.png);
  width: 370px;
  height: 180px;
}
.img-2 {
  background-image: url(../assets/deal-ana.png);
  width: 370px;
  height: 180px;
}
.img-3 {
  background-image: url(../assets/deal-zabo.png);
  width: 970px;
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;

}
@media screen and (max-width:576px) {
    .none {
        display: none;
    }

    .navber {
        margin: 10px;
    }

    .banner {
        flex-direction: column-reverse;

    }

    .left-plants {
        padding: 15px;
    }

    .section-plants {
        margin: 20px 10px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .card-title {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .flower-container{
flex-direction: column;

    }
    .flower-section{

margin-top: 15px;
margin-left: 15px;

   
}

.left-flower img {
    width:370px;
    margin-left: 8px;
}
.left-flower{
    margin-top: 5px;

}
.join-container{
    width: 100%;
}
.fieldset {
    width: 220px;
    height: 51px;
    padding-left: 10px;
}
.btn-2 {
    width: 120px;
    height: 51px;
    background-color: rgb(233, 90, 8);
    color: white;
    border: none;
  text-align: center;

}
.join h1{
    font-size: 1.5rem;
}
.footer-container{
    flex-direction: column;
    padding: 15px;
}
.footer-menu{
    
    grid-template-columns:repeat(1,1fr);
    margin-top: 20px;
    margin-bottom: 20px;
}
.trusted{
display: none;
}
.right-flower{
margin-left: 10px;
}
.latest-pic-container{
flex-direction: column;
}
  .img-3 {
    width: 100%;         
    height: 200px;        
  }
}

